<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets async="true">
    <target type="ColoredConsole"
            name="console"
            layout="${longdate}|${level}|${message}" />
    <target type="File"
            name="file"
            layout="${longdate}|${level}|${callsite}|${message}"
            fileName="C:/ProgramData/DragonBot/log/DragonBot.log"
            archiveFileName="C:/ProgramData/DragonBot/log/archive/DragonBot.{#}.log"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="7"
            concurrentWrites="false" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" />
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>
